.category-detail {
  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
  }
}
