nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  padding: 1rem 0;

  .nav-links {
    display: flex;
    align-items: center;
    gap: 2vw;

    .nav-link {
      cursor: pointer;
    }
  }
}
