:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   outline: 1px solid red;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin: 20px 0;
}
